@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-mont: "Montserrat", sans-serif;
  --container {
    width: 100%;
    @media (width >= 40rem) {
      max-width: 40rem;
    }
    @media (width >= 48rem) {
      max-width: 48rem;
    }
    @media (width >= 64rem) {
      max-width: 64rem;
    }
    @media (width >= 80rem) {
      max-width: 60rem;
    }
    @media (width >= 96rem) {
      max-width: 96rem;
    }
  }
}

body {
  @apply font-mont m-auto;
}

.section-padding {
  @apply py-25;
}
.head-colr {
  @apply text-[#252b42];
}
.pera-colr {
  @apply text-[#737373];
}
.btn-colr {
  @apply text-[#00a0c1];
}

.feature-cards {
  @apply w-[31%] h-[112px]  flex  items-center gap-3 border-1 border-[#E2E2E2] bg-[#FAFAFA] shadow-sm;
}
.dark-heading {
  @apply text-[#252b42] text-[40px] text-center font-bold leading-[57px] pb-3;
}
.dark-peragraph {
  @apply text-[#737373] text-sm font-medium leading-5 text-center;
}
.light-heading {
  @apply text-white text-[40px]  font-bold leading-[57px] mb-[15px];
}
.light-peragraph {
  @apply text-white text-sm font-medium leading-5;
}
